<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>参加していた下記イベントの開催が中止されました</h1>
    <table>
      <tr>
        <th>タイトル</th>
        <td><%= @event.title %></td>
      </tr>
      <tr>
        <th>詳細</th>
        <td><%= @event.description %></td>
      </tr>
      <tr>
        <th>開催日時</th>
        <td><%= l @event.scheduled_date, format: :long %></td>
      </tr>
      <tr>
        <th>開催場所</th>
        <td><%= @event.place %></td>
      </tr>
    </table> 
    <p>参加予定のイベントはMypageより確認できます！</p>
    <p><%= link_to 'Pickable', @url %></p>
    <p>Pickable事務局</p>
  </body>
</html>