<%= form_with(model: user) do |form| %>
  <%= render 'shared/error_messages', object: form.object %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :hiyoconne_url %>
    <%= form.text_field :hiyoconne_url %>
  </div>

  <div class="field">
    <%= form.label :accept_random %>
    <%= form.select :accept_random, User.accept_randoms_i18n.invert, {} %>
  </div>
  
  <div class="field">
    <%= form.label :category_id %>
    <%= form.collection_check_boxes :category_ids, Category.all, :id, :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
