<div class="container justify-content-center text-center py-5">
  <div class="row py-3">
    <div class="col">
      <h1 class="red">Account Settings</h1>
    </div>
  </div>
</div>
<div class="container justify-content-center text-center">
  <div class="row">
    <%= form_with(model: @user) do |form| %>
      <%= render 'shared/error_messages', object: form.object %>

      <div class="row justify-content-center my-5 h5">
        <div class=" col-2 orange text-end">
          <%= form.label :name, class: "col-form-label" %>
          <span class="red small">*</span>
        </div>
        <%= form.text_field :name, class: "col-form-control offset-1 col-3" %>
      </div>

      <div class="row justify-content-center mt-3 h5">
        <div class="orange col-2 offset-2 my-auto text-end">
          <%= form.label :accept_random, class: "col-form-label" %>
          <span class="red small">*</span>
          <pre class="fz075 text-muted text-start">          WELCOME…許可<br>          SLEEPING…許可しない
          </pre>
        </div>
        <div class="col-5 text-start offset-1 h4">
          <%= form.radio_button :accept_random, :accepted, id: 'radio-random-ac', onclick: "buttonClick()" %>
          <label class="badge rounded-pill accepted me-5" for="radio-random-ac">WELCOME</label>
          <%= form.radio_button :accept_random, :denied, id: 'radio-random-de', onclick: "buttonClick()" %>
          <label class="badge rounded-pill denied me-5" for="radio-random-de">SLEEPING</label>
        </div>
      </div>

      <div class="row justify-content-center h5" id="select-category">
        <div class="col-2 orange text-start offset-3">
          <%= form.label :category_id, class: "col-form-label align-middle" %>
        </div>
        <div class="col-6 my-auto row h4">
          <%= form.collection_check_boxes(:category_ids, Category.all, :id, :name) do |b| %>
            <%= b.check_box class:"my-auto col-2" do %>
              <%= b.check_box + b.text %>
            <% end %>
            <%= b.label class:"badge bg-category my-1 col-2" do %>
              <%= b.label {b.text} %>
            <% end %>
          <% end %>
        </div>
        <div class="col-12 row">
          <pre class="col-2 offset-3 fz075 text-muted text-start">
          希望ジャンルの
          イベントにのみ
          ランダム抽出されます
          </pre>
        </div>
      </div>

      <div class="row justify-content-center h5">
        <%= form.label :hiyoconne_url, class: "col-form-label col-3 offset-2 orange text-end" %>
        <%= form.text_field :hiyoconne_url, class: "col-form-control col-6 offset-1 h6", placeholder: 'https://hiyoco-connect.herokuapp.com/profiles/〇〇' %>
      </div>
      <div class="row justify-content-start mb-5 pe-5">
        <a href="javascript:void(0)" id="openModal" class="col-auto offset-4 ps-0 hover-target simple-a-tag fz075"><i class="fa-regular fa-circle-question"></i> ひよコネリンクとは</a>
      </div>
        <!-- モーダルエリアここから -->
        <section id="modalArea" class="modalArea">
          <div id="modalBg" class="modalBg"></div>
          <div class="modalWrapper">
            <div class="modalContents">
              <div class="h2 red">ひよコネリンクとは？</div>
              <%= link_to 'https://hiyoco-connect.herokuapp.com', target: "_blank", rel: "noopener noreferrer" do %>
                <%= image_tag 'hiyoconne_icon.png', class: 'rounded-circle hover-target', size: '100x120' %>
              <% end %>
              <h3>ひよこコネクト</h5>
              <p class="h5 mt-3">〜RUNTEQ生向けのプロフィール集約アプリ〜</p>
              <p class="mt-3">「ひよコネリンク」とはこのひよコネのマイプロフィールのURLを指します。</p>
              <p>ひよコネにまだ登録してない人はぜひ登録してみてください！</p>
              <p class="text-muted fs">※ひよこをクリックでサービスにアクセスできます！</p>
            </div>
            <div id="closeModal" class="closeModal">
              ×
            </div>
          </div>
        </section>

      <div class="row">
        <%= form.label :role %>
        <%= form.select :role, User.roles_i18n.invert, {}, class: 'form-control' %>
      </div>

      <div class="row justify-content-center my-5 h5">
        <div class="col-auto">
          <%= form.submit class: 'btn btn-outline-info rounded-pill' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
