<div class="container text-center">

    <%= form_with(model: event) do |form| %>
      <% if event.errors.any? %>
        <div id="error_explanation" class="row mx-auto col-4">
          <ul>
            <% event.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="col-3 mx-auto mb-4">
        <div class="field">
          <div class="red text-start"><%= form.label :title %></div>
          <%= form.text_field :title %>
        </div>
      </div>

      <div class="col-3 mx-auto mb-4">
        <div class="field">
          <div class="red text-start"><%= form.label :description %></div>
          <%= form.text_area :description %>
        </div>
      </div>

      <div class="col-3 mx-auto mb-4">
        <div class="field">
          <div class="red text-start"><%= form.label :number_of_members %></div>
          <%= form.number_field :number_of_members %>
        </div>
      </div>

      <div class="col-3 mx-auto mb-4">
        <div class="field">
          <div class="red text-start"><%= form.label :scheduled_date %></div>
          <%= form.datetime_field :scheduled_date, min: Date.current %>
        </div>
      </div>

      <div class="col-3 mx-auto mb-4">
        <div class="field">
          <div class="red text-start"><%= form.label :place %></div>
          <%= form.text_field :place %>
        </div>
      </div>

      <div class="field">
        <%= form.label :category_id %>
        <%= form.collection_select :category_id, Category.all, :id, :name %>
      </div>

      <div class="actions">
        <%= form.submit %>
      </div>
    <% end %>
</div>