<p id="notice"><%= notice %></p>

<h1 class="red text-center">Events</h1>

<div>
  <div>
    <% @events.each do |event| %>
      <div class="card">
        <div class="card-body">
          <p><%= event.title %></p>
          <p><%= event.description %></p>
          <p><%= event.number_of_members %></p>
          <p><%= l event.scheduled_date, format: :long %></p>
          <p><%= event.place %></p>
          <% if event.created_by?(current_user) %>
            <p><%= link_to 'Show', event %></p>
            <p><%= link_to 'Edit', edit_event_path(event) %></p>
            <p><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= paginate @events %>

<br>

<%= link_to 'Create Event', new_event_path %>
