<p id="notice"><%= notice %></p>

<h1 class="red text-center">Events</h1>


<div class="container">
  <div class="text-end">
    <%= link_to new_event_path do %>
      <div class="btn btn-outline-info rounded-pill mb-3">Create Event</div>
    <% end %>
  </div>

  <% @events.each do |event| %>
    <%= link_to event_path(event), class: 'event-link' do %>
      <div class="card row mb-3">
        <div class="card-body flex">
          <div class="col-2 red me-3">
            <div class="text-center">
              <div class="fz25"><%= event.scheduled_date.strftime('%m/%d') %></div>
              <div class="fz15"><%= event.scheduled_date.strftime('%H:%M') %></div>
            </div>
          </div>
          <div class="col-10 mt-2">
            <div class="h2"><%= event.title %></div>
            <div class="col-10 flex mt-3">
              <div class="col-4">人数：<%= event.participations.size %>/<%= event.number_of_members %></div>
              <div class="col-4">場所：<%= event.place %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= paginate @events %>
