<% content_for(:title, t('.title')) %>

<p id="notice"><%= notice %></p>

<h1 class="display-3 red text-center mt-4"><%= t('.title') %></h1>
<div class="container">
  <div class="col-9 mx-auto">
    <div class="text-end">
      <%= link_to new_event_path do %>
        <div class="btn btn-outline-info rounded-pill mb-3">Create Event</div>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center my-5">
    <h1 class="col-auto orange">
      開催予定のイベント
    </h1>
  </div>
  <% if @events_from_today %>
    <%= render 'shared/event', events: @events_from_today %>
    <div class="col-auto">
      <%= paginate @events_from_today, param_name: 'future_page', theme: 'bootstrap-5' %>
    </div>
  <% else %>
    <h4 class="col-auto text-muted ">
      開催予定のイベントはありません。<br>
      過去のイベントを参考に主催してみよう！
    </h4>
  <% end %>
</div>

<div class="row justify-content-center my-5 pt-5">
  <div class="col-6 border-orange">
  </div>
</div>

<div class="container">
  <div class="row justify-content-center my-5 py-5">
    <h1 class="col-auto orange">
      過去に開催されたイベント
    </h1>
  </div>
  <% if @events_till_yesterday %>
    <%= render 'shared/event', events: @events_till_yesterday %>
    <div class="row justify-content-center">
      <div class="col-auto">
        <%= paginate @events_till_yesterday, param_name: 'past_page', theme: 'bootstrap-5' %>
      </div>
    </div>
  <% end %>
</div>
