<p id="notice"><%= notice %></p>

<h1 class="red text-center">Events</h1>


<div class="container">
  <div class="text-end">
    <%= link_to new_event_path do %>
      <div class="btn btn-outline-info rounded-pill mb-3">Create Event</div>
    <% end %>
  </div>

  <% @events.each do |event| %>
    <div class="card row shadow mb-5 col-9 mx-auto">
      <%= link_to event_path(event), class: 'event-link' do %>
        <div class="card-body flex">
          <div class="col-3 red">
            <div class="text-center">
              <div class="fz25"><%= event.scheduled_date.strftime('%m/%d') %></div>
              <div class="fz15"><%= event.scheduled_date.strftime('%H:%M') %></div>
            </div>
          </div>
          <div class="col-6 mt-2">
            <div class="h2 text-center"><%= event.title %></div>
            <div class="badge bg-category d-block w-25 mx-auto mt-4"><%= event.category.name %></div>
          </div>
          <div class="col-3">
            <div class="mt-1 mb-4">人数： <%= event.participations.size %> / <%= event.number_of_members %></div>
            <div>場所：<%= event.place %></div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<%= paginate @events %>
