<% content_for(:title, "#{@event.title}") %>

<p id="notice"><%= notice %></p>

<div class="container events-show">
  <div class="row text-center">
    <div class="mt-4 mb-4">
      <h2 class="red display-3"><%= @event.title %></h2>
    </div>
    <div class="display-6">
      <%= l @event.scheduled_date, format: :short %>
    </div>
    <div class="h5 mt-2">
      ＠  <%= @event.place %>
    </div>
    <div class="h5 mt-1">
      <strong><i class="fa-solid fa-user"></i></strong>
      <%= @event.user.name %>
    </div>
  </div>

  <div class="row text-center mt-2">
    <div class="badge bg-category mx-auto col-1 fz12 mt-1">
      <%= @event.category.name %>
    </div>
  </div>


  <div class="h5 text-start lh-base mx-auto col-7 mt-5 desc">
    <div class="p-3">
      <div class="text-center skyblue mb-3">イベント詳細</div>
      <%= raw Rinku.auto_link(simple_format(h(@event.description), {}, sanitize: false, wrapper_tag: "div") ,:all, 'target="_blank"' 'rel="noopener noreferrer"')%>
    </div>
  </div>

  <div class="row text-center mt-5 justify-content-center">
    <div class="mb-2">
      メンバー  <%= @event.participations.size %> / <%= @event.number_of_members %>
    </div>
    <div class="justify-content-start row w-60 ms-4">
      <% @participated_users.each do |participated_user|%>
        <div class="col-2 my-2">
          <%= link_to user_path(participated_user), class: 'simple-a-tag' do %>
            <%# <div><%= image_tag 'hiyoconne_icon.png', class: 'rounded-circle', size: '50x50' %><%#</div> %>
            <div><%= image_tag participated_user.remote_avatar_url, class: 'rounded-circle', size: '50x50'%></div>
            <div class="text-wrap text-break my-2 fz075"><%= participated_user.name %></div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row text-center mt-4">
    <div class="col-12">
      <% if @event.created_by?(current_user) %>
        <%= link_to event_pickable_path(@event), { method: :post, data: { confirm: "Pickableを発動しますか？\n※1回しか発動できません。" }, class: "btn btn-outline-info-pick rounded-pill fz25 #{ 'disabled' if @event.pickable_counts > 0 }" } do %>
          <i class="fa-solid fa-handshake-simple"></i> Pickable <i class="fa-solid fa-handshake-simple"></i>
        <% end %>

        <div class="row justify-content-center mt-2">
          <a href="javascript:void(0)" id="openModal" class="col-2 hover-target simple-a-tag"><i class="fa-regular fa-circle-question"></i> Pickableとは</a>
        </div>
        <!-- モーダルエリアここから -->
        <section id="modalArea" class="modalArea">
          <div id="modalBg" class="modalBg"></div>
          <div class="modalWrapper">
            <div class="modalContents">
              <div class="h2 red">Pickableとは？</div>
              <p class="h5 mt-3">イベント参加者を登録ユーザーからランダムでピックアップする機能のこと！</p>
              <p>※ 1回のみ使用可能</p>
            </div>
            <div id="closeModal" class="closeModal">
              ×
            </div>
          </div>
        </section>
        <!-- モーダルエリアここまで -->

        <div class="row justify-content-center mt-3">
          <div class="col-1">
            <%= link_to edit_event_path(@event), class: "col-auto h2 hover-target text-center simple-a-tag" do %>
              <i class="fa-solid fa-gear"></i>
              <p class="h6 ">edit</p>
            <% end %>
          </div>
          <div class="col-1">
            <%= link_to event_path, method: :delete, data: { confirm: 'イベントを削除してよろしいですか？' }, class: 'col-auto h2 hover-target text-center simple-a-tag' do %>
              <i class="fa-solid fa-trash"></i>
              <p class="h6 ">delete</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row text-center mt-4">
    <div class="col-12">
      <% if logged_in? && current_user.participating_events.include?(@event) %>
        <%= link_to event_participation_path(@event), method: :delete, data: { confirm: '参加をキャンセルしてもよろしいですか？' } do %>
          <div class="btn btn-outline-info rounded-pill fz15">参加キャンセル</div>
        <% end %>
      <% else %>
        <%= link_to event_participation_path(@event), method: :post do %>
          <div class="btn btn-outline-info rounded-pill fz25">参加</div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="row col-1 text-center mx-auto m-3"><%= link_to 'Back', events_path %></div>
