<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Number of members:</strong>
  <%= @event.number_of_members %>
</p>

<p>
  <strong>Number of applicants:</strong>
  <%= @event.number_of_applicants %>
</p>

<p>
  <strong>Scheduled date:</strong>
  <%= l event.scheduled_date, format: :long %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>Pickable mode:</strong>
  <%= @event.pickable_mode_i18n %>
</p>

<p>
  <strong>ユーザー名</strong>
  <%= @event.user.name %>
</p>

<p>
  <strong>カテゴリー</strong>
  <%= @event.category.name %>
</p>

<%= link_to 'Back', events_path %>

<% if @event.created_by?(current_user) %>
  <%= link_to 'Edit', edit_event_path(@event) %> 
  <%= link_to 'Destroy', event_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<% if logged_in? && current_user.participating_events.include?(@event) %>
  <%= link_to '不参加', event_participation_path(@event), method: :delete %>
<% else %>
  <%= link_to '参加', event_participation_path(@event), method: :post %>
<% end %>
