<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @event.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Number of members:</strong>
  <%= @event.number_of_members %>
</p>

<p>
  <strong>Scheduled date:</strong>
  <%= l @event.scheduled_date, format: :long %>
</p>

<p>
  <strong>Place:</strong>
  <%= @event.place %>
</p>

<p>
  <strong>ユーザー名</strong>
  <%= @event.user.name %>
</p>

<p>
  <strong>カテゴリー</strong>
  <%= @event.category.name %>
</p>

<%= link_to 'Back', events_path %>

<% if @event.created_by?(current_user) %>
  <%= link_to 'Edit', edit_event_path(@event) %> 
  <%= link_to 'Destroy', event_path, method: :delete, data: { confirm: 'Are you sure?' } %>
  <%= button_to 'Pickable', event_pickable_path(@event), { method: :post, data: { confirm: 'Pickableを発動しますか？' } } %>
<% end %>
<% if logged_in? && current_user.participating_events.include?(@event) %>
  <%= link_to 'キャンセル', event_participation_path(@event), method: :delete %>
<% else %>
  <%= link_to '参加', event_participation_path(@event), method: :post %>
<% end %>
</br>
<% @event.participations.each do |participation|%>
  <%# <%= image_tag participation.user.remote_avatar_url, class: 'rounded-circle', size: '50x50' %1> %>
  <%= image_tag 'pick.png', class: 'rounded-circle', size: '50x50' %>
  <%= participation.user.name %>
<% end %>
