<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag "mailer" %>
  </head>
  <body>
    <h2 class="pb40">下記のイベントにPickされました！</h2>
      <div>
        <p class="fwb">タイトル</p>
        <p class="pl20"><%= @event.title %></p>
      </div>
      <div>
        <p class="fwb">詳細</p>
        <p class="pl20"><%= simple_format(@event.description) %></p>
      </div>
      <div>
        <p class="fwb">開催日時</p>
        <p class="pl20"><%= l @event.scheduled_date, format: :long %></p>
      </div>
      <div class="pb40">
        <p class="fwb">開催場所</p>
        <p class="pl20"><%= @event.place %></p>
      </div>
      <p>参加予定のイベントはMypageより確認できます！</p>
      <p><%= link_to 'Pickable', @url %></p>
  </body>
</html>