<%= form_with(model: category) do |form| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
